.menu__lateral{
  position: fixed;
  width: 100px;
  background: #002c3e;
  top: 3.1rem;
  z-index: 20;
}
.menu__lateral a{
  text-decoration: none;
}
.menu__lateral a:hover{
  text-decoration: none;
  color: #f7f8f3;
}
.menu__lateral li{
  list-style: none;
  text-align: center;
  padding: 3px;
  color: #f7f8f3;
  transition: all 300ms;
  cursor: pointer;
}
.menu__lateral li:hover{
  transform: translateX(10px);
  background: #f7444e;
}
.menu__lateral li span{
  font-size: 35px;
}
.menu__lateral li h4{
  font-size: 15px;
  font-weight: 700;
}
.icon1{
  color: #f7f8f3;
}